.card{
	width: 300px;
	margin: 10px;
	box-sizing: border-box;
	box-shadow: 1px 2px 4px black;
}

.img-style{
	width: 100%;
}

.card-body{
	padding: 5px;
	background-color: #761f8c;  
}

.card-title{
	font-size: 25px;
	text-align: center;
	color: #fff;
}

.card-description{
	text-align: justify;
	line-height: 1.5;
	color: #fff;
}

.card:hover{
	box-shadow: 6px 12px 10px white;
}


.card-containers{
	box-sizing: border-box;
	display: flex;
	background-color: cadetblue;
	padding: 20px 0;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}